@use '../__builtins__/styles/common.scss' as *;

$form-button-group-prefix-cls: '#{$formily-prefix}-form-button-group';

.#{$form-button-group-prefix-cls} {
  background-color: var(--el-bg-color);
}
.#{$form-button-group-prefix-cls}__sticky .el-affix--fixed {
  border-top: 1px solid var(--el-border-color);
  padding: 10px;
  background-color: var(--el-bg-color);
  box-sizing: content-box;
}