@use '../__builtins__/styles/common.scss' as *;

$array-table-prefix-cls: '#{$formily-prefix}-array-table';

.#{$array-table-prefix-cls} {
  width: 100%;
  .#{$formily-prefix}-form-item:not(.#{$formily-prefix}-form-item-feedback-layout-popover) {
    margin-bottom: 0 !important;
  }

  .#{$namespace}-table {
    .cell {
      overflow: visible;
    }

    .cell.el-tooltip {
      overflow: hidden;
    }
  }

  .#{$formily-prefix}-array-base-addition {
    margin-top: 8px;
    width: 100%;
    border: 1px dashed var(--el-border-color);
    border-radius: var(--el-border-radius-small);

    &:hover {
      background-color: var(--el-button-hover-text-color);
      border-color: var(--el-primary-color);
    }

    &:active {
      background-color: var(--el-button-active-bg-color);
      border-color: var(--el-color-primary);
    }
  }
}
