@use '../__builtins__/styles/common.scss' as *;

$array-items-prefix-cls: '#{$formily-prefix}-array-items';

.#{$array-items-prefix-cls} {
  width: 100%;

  .#{$array-items-prefix-cls}-item-inner:last-child {
    .#{$array-items-prefix-cls}-divide {
      border-bottom: none;
    }
  }

  .#{$formily-prefix}-array-base-addition {
    width: 100%;
    border: 1px dashed var(--el-border-color);
    border-radius: var(--el-border-radius-small);

    &:hover {
      background-color: var(--el-button-hover-text-color);
      border-color: var(--el-primary-color);
    }

    &:active {
      background-color: var(--el-button-active-bg-color);
      border-color: var(--el-color-primary);
    }
  }

}

.#{$array-items-prefix-cls}-card {
  display: flex;
  border: 1px solid var(--el-border-color);
  margin-bottom: 10px;
  padding: 3px 6px;
  background: var(--el-color-white);
  justify-content: space-between;
}

.#{$array-items-prefix-cls}-divide {
  display: flex;
  border-bottom: 1px solid var(--el-border-color);
  padding-top: 10px;
  justify-content: space-between;
}
