@use 'sass:math';
@use '../__builtins__/styles/common.scss' as *;
@use './var.scss' as *;
@use './grid.scss' as *;
@use './animation.scss' as *;

.#{$form-item-prefix} {
  --el-form-label-font-size: var(--el-font-size-base);
}

.#{$form-item-prefix}-label__wrapper {
  display: flex;
  overflow: hidden;
}
.is-warp .#{$form-item-prefix}-label-content > span {
  overflow: visible;
  white-space: wrap;
}
.is-warp .el-form-item__content {
  align-items: flex-start;
}
.is-warp .el-form-item__label {
  height: auto;
}

.#{$form-item-prefix}-label-content {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;

  & > span {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.is-tooltip {
    border-bottom: 1px dashed;
    border-color: var(--el-border-color);
  }
}

.#{$form-item-prefix}-label-tooltip {
  margin-left: 4px;
  color: var(--el-text-color-secondary);
  display: flex;
  align-items: center;
  height: $form-item-medium-line-height;
  cursor: pointer;
  i {
    line-height: 1;
  }
}

.#{$form-item-prefix}-colon {
  display: flex;
  margin-left: 2px;
  line-height: 2.3;
}

.#{$form-item-prefix}-content__wrapper {
  display: flex;
  flex: 1;
  & .is-fullness > div {
    width: 100%;
  }
}

.#{$form-item-prefix}-addon-before {
  margin-right: 8px;
}
.#{$form-item-prefix}-addon-after {
  margin-left: 8px;
}

.#{$form-item-prefix}-addon-before,
.#{$form-item-prefix}-addon-after {
  display: inline-flex;
  align-items: center;
  min-height: 32px;
  flex-shrink: 0;
}

// feedback
.el-form-item.is-warning .el-input__wrapper, .el-form-item.is-warning .el-input__wrapper:hover, .el-form-item.is-warning .el-input__wrapper:focus, .el-form-item.is-warning .el-input__wrapper.is-focus, .el-form-item.is-warning .el-textarea__inner, .el-form-item.is-warning .el-textarea__inner:hover, .el-form-item.is-warning .el-textarea__inner:focus, .el-form-item.is-warning .el-textarea__inner.is-focus, .el-form-item.is-warning .el-select__wrapper, .el-form-item.is-warning .el-select__wrapper:hover, .el-form-item.is-warning .el-select__wrapper:focus, .el-form-item.is-warning .el-select__wrapper.is-focus, .el-form-item.is-warning .el-input-tag__wrapper, .el-form-item.is-warning .el-input-tag__wrapper:hover, .el-form-item.is-warning .el-input-tag__wrapper:focus, .el-form-item.is-warning .el-input-tag__wrapper.is-focus {
  box-shadow: 0 0 0 1px var(--el-color-warning) inset;
}
.#{$form-item-prefix}-feedback {
  color: var(--el-text-color-secondary);
  font-size: 12px;
  line-height: 1;
  padding-top: 2px;

  &.is-error {
    color: var(--el-color-danger);
  }
  &.is-success {
    color: var(--el-color-success);
  }
  &.is-warning {
    color: var(--el-color-warning);
  }
}

.#{$form-item-prefix}-extra {
  color: var(--el-text-color-secondary);
  font-size: 12px;
  line-height: 1;
  padding-top: 2px;
}

// layout
.#{$form-item-prefix}.is-terse {
  margin-bottom: 8px;
}